[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jinja2 = "*"
fastapi = "*"
pydantic = "*"
uvicorn = "*"
Pillow = "*"
matplotlib = "*"
python-multipart = "*"
requests = "*"
pytest = "*"
flask = "*"
flask-wtf = "*"
flask-bootstrap = "*"
WTForms = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.0"
